.card__root {
  cursor: pointer;
  margin: 1rem 0;
  overflow: hidden;
  position: relative !important;
  box-shadow: $box-shadow;
  border: 0;
  .card__img {
    height: 350px !important;
    & > img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }

  .card__blank {
    background: #fff;
    height: 190px;
  }

  .card__body {
    width: 100%;
    height: 190px;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    transition: bottom 0.2s ease-in-out;

    .card__body__img {
      margin-top: -35px;
      height: 45px;
      width: 45px;
      & > img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 100%;
        border: 2px solid #fff;
      }
    }

    .card__body__details {
      display: flex;
      align-items: center;
      gap: 10px;
      & > img {
        display: block;
        height: 24px;
        width: 24px;
        border-radius: 5px;
        object-fit: cover;
      }
      & > p {
        margin: 0;
        font-size: 1.3rem;
        font-weight: 600;
        color: $secondary;
      }
    }

    .current__bid__title {
      font-size: 1.3rem;
      font-weight: 600;
      color: $secondary;
    }

    .live__show {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > p {
        font-size: 1.3rem;
        font-weight: 600;
        color: $dark;
      }
      & > div {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: $dark;
        color: #fff;
        padding: 5px 15px;
        border-radius: 30px;
        & > p {
          margin: 0;
        }
      }
    }
  }
  &:hover .card__body {
    bottom: 70px;
  }
  .card__btn {
    width: 100%;
    border-radius: 15px;
    background-color: $dark;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 500;
  }
}
