$sm: 640px;
$md: 832px;
$lg: 1024px;

$body: #000;
$headings-font-weight: 600 !important;
$primary: #1b46c2;
$secondary: #666666;
$light: #fafafa;
$dark: #000000;
$a: #1392ff;
$box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
$box-shadow-medium: 0px 10px 20px rgba(0, 0, 0, 0.1);
