$sm: 640px;
$md: 832px;
$lg: 1024px;

$body: #000;
$headings-font-weight: 600 !important;
$primary: #1b46c2;
$secondary: #666666;
$light: #fafafa;
$dark: #000000;
$a: #1392ff;
$fw-600: 600;
$border-color: #f2f2f2;
$hover-color: #cccccc;

$box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
$box-shadow-medium: 0px 10px 20px rgba(0, 0, 0, 0.1);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1480px,
  //   xxl: 1920px
);
