@import 'tailwindcss';

@theme {
    --background-image-mvx-white: url('../multiversx-white.svg');
    --background-color-primary: var(--mvx-bg-color-primary);
    --background-color-secondary: var(--mvx-bg-color-secondary);
    --background-color-accent: var(--mvx-bg-accent-color);
    --background-color-btn-primary: var(--mvx-button-bg-primary);
    --background-color-btn-secondary: var(--mvx-white);
    --background-color-btn-hover: var(--mvx-button-hover-bg-primary);
    --color-primary: var(--mvx-text-color-primary);
    --color-secondary: var(--mvx-text-color-secondary);
    --color-accent: var(--mvx-text-accent-color);
    --color-btn-primary: var(--mvx-button-text-primary);
    --color-link: var(--mvx-link-color);
    --border-color-primary: var(--mvx-border-color-primary);

}