.featuredNft {
  padding: 80px 0;

  .featuredNft__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    margin-bottom: 15px;

    div {
      display: flex;
      align-items: center;

      h2 {
        margin: 0;
        font-size: 26px;
        font-weight: 600;
      }
    }

    > p {
      font-size: 18px;
      color: $secondary;
      margin: 0;
      font-weight: 600;
    }
  }

  .featuredNft__bottom {
    text-align: center;
    padding-top: 15px;
    button {
      background-color: $light;
      border: none;
      border-radius: 50px;
      font-size: 18px;
      font-weight: bold;
      border: 1px solid $light-gray;
      padding: 15px 18px;
      margin-left: 10px;
      &:hover{
        color: $light;
        background-color: $dark;
      }
    }
  }
}
