name: WDIO Tests
on:
    schedule:
      - cron: '0 20 * * *'
jobs:
  Slack-Notification:
    runs-on: ubuntu-latest
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@master
        env:
          if: always()
          SLACK_ICON_EMOJI: ':robot_face:'
          SLACK_USERNAME: WDIO Bot
          SLACK_MESSAGE: E2E Night Tests are now running. Stay tuned for updates!
          SLACK_TITLE : 'WDIO Template RUN'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
  E2E-RUN:
    runs-on: ubuntu-latest
    needs: Slack-Notification
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Run install
        uses: borales/actions-yarn@v4
        with:
            cmd: install   
      - name: Start WDIO
        run: npm run wdio-smoke
    
