/* Bootstrap overrides
-------------------------------------------------- */
// Sass Variables
@import './abstracts/variables';

/* Do not move the imports from here.
Override Bootstrap variables only above.
-------------------------------------------------- */
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/reboot';

// Reset/normalize
@import './base/reset';

// pages/
@import './pages/home';
@import './pages/common/tabnavigation';

// layout/
@import './layout/navigation';
@import './layout/dashboard';
@import './layout/footer';

// themes/
@import './themes/pageState';
@import './themes/custom';

// components
@import './components/nftSidebar';
@import './components/nfts';
